.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.iml
node_modules/
android/.gradle/
android/app/build/
android/build/
android/.idea/
*.apk
*.aab
Thumbs.db
*.log
.vscode/
